<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Remota - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="menu">
                <a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %}">Inicio</a>
                <a href="{% url 'monitor' %}" class="{% if request.path == '/monitor/' %}active{% endif %}">Monitoreo</a>
                <a href="{% url 'software' %}" class="{% if request.path == '/software/' %}active{% endif %}">Software</a>
                <a href="{% url 'control' %}" class="{% if request.path == '/control/' %}active{% endif %}">Control</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>